<!DOCTYPE html>
<html>
  <head>
    <title>Веванта</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="36x36" href="statics/icons/android-chrome-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="statics/icons/android-chrome-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="statics/icons/android-chrome-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/android-chrome-96x96.png">
    <link rel="icon" type="image/png" sizes="144x144" href="statics/icons/android-chrome-144x144.png">
    <link rel="icon" type="image/png" sizes="192x192" href="statics/icons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="57x67" href="statics/icons/apple-touch-icon-57x57">
    <link rel="icon" type="image/png" sizes="60x60" href="statics/icons/apple-touch-icon-60x60">
    <link rel="icon" type="image/png" sizes="72x72" href="statics/icons/apple-touch-icon-72x72">
    <link rel="icon" type="image/png" sizes="114x114" href="statics/icons/apple-touch-icon-114x114">
    <link rel="icon" type="image/png" sizes="120x120" href="statics/icons/apple-touch-icon-120x120">
    <link rel="icon" type="image/png" sizes="57x57" href="statics/icons/apple-touch-icon-57x57">
    <link rel="icon" type="image/png" sizes="144x144" href="statics/icons/apple-touch-icon-144x144">
    <link rel="icon" type="image/png" sizes="152x152" href="statics/icons/apple-touch-icon-152x152">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
    <link rel="mask-icon" href="statics/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
